<?xml version="1.0"?>
<launch>
   
    <arg name="mav_name" default="spedix"/>
    <arg name="pkg_colour" default="red"/>
   
    <group ns="$(arg mav_name)">
   
        <node pkg="imav_planner" type="router" name="router" output="screen">
            
            <param name="colour" value="$(arg pkg_colour)"/>
            <remap from="objects" to="/object_poses"/>
            <remap from="task" to="task_info"/>

        </node>
   
    </group>
    
</launch>