<?xml version="1.0"?>
<launch>
   
    <arg name="mav_name" default="spedix"/>
   
    <group ns="$(arg mav_name)">
   
        <node name="router" pkg="imav_planner" type="router" output="screen">
            
            <!-- parameters -->
            <rosparam file="$(find imav_planner)/cfg/planner.yaml" command="load" ns="" />
            <param name="mav_name" value="$(arg mav_name)"/>

            <!-- subscribers -->
            <remap from="odometry" to="odom"/>
            <remap from="objects" to="object_poses"/>
            <remap from="curr_state" to="planner/curr_state"/>
            <remap from="utm_pose" to="utm_pose"/>
            <remap from="gps" to="mavros/global_position/raw/fix"/>

            <!-- publishers -->
            <remap from="task" to="drop_info"/>
            <remap from="data" to="data"/>

        </node>
   
    </group>
    
</launch>
