[submodule "imav_detector"]
	path = imav_detector/detector
	url = https://github.com/ashwin2802/imav_detector
[submodule "mav_utils_ariitk"]
	path = mav_utils_ariitk
	url = https://github.com/gajena/mav_utils_ariitk
[submodule "imav_avoidance"]
	path = imav_avoidance
	url = https://github.com/gajena/imav_avoidance
[submodule "imav_detector/helipad_detect"]
	path = imav_detector/helipad_detect
	url = https://github.com/amartyadash/helipad_det.git
[submodule "imav_detector/feature_detector"]
	path = imav_detector/feature_detector
	url = https://www.github.com/ashwin2802/feature_detector.git
[submodule "imav_detector/aruco_ros"]
	path = imav_detector/aruco_ros
	url = git@github.com:ashwin2802/aruco_ros.git
[submodule "imav_detector/aruco_detector"]
	path = imav_detector/aruco_detector
	url = git@github.com:ashwin2802/aruco_detector.git
